.features-container
	display: flex
	flex-wrap: wrap
	.feature-container
		float: left
		padding: 20px
		.feature
			text-align: center
			background-color: $light-color
			.feature-content
				padding: 10px 20px

@media screen and (max-width: 1350px)
	.features-container
		.feature-container
			width: 33.3333% !important

@media screen and (max-width: 1020px)
	.features-container
		.feature-container
			width: 50% !important

@media screen and (max-width: 680px)
	.features-container
		.feature-container
			width: 100% !important
